/BLL/KANG.BLL/obj/Debug
/BLL/KANG.BLL/bin/Debug
/DAL/KANG.DAL/bin/Debug
/DAL/KANG.DAL/obj/Debug
/DAL/KANG.MySql.DAL/bin/Debug
/DAL/KANG.MySql.DAL/obj/Debug
/DB/DB.Base/obj/Debug
/DB/DB.Base/bin/Debug
/DB/DB.Interface/bin/Debug
/DB/DB.Redis/obj/Debug/*.dll
/DB/DB.MySql/bin/Debug/*.dll
/DB/DB.MySql/obj/Debug/*.dll
/DB/DB.MySql/bin/Debug
/Test/ConsoleApp.Test/bin/Debug
/UI/KANG.Web/obj/Debug
/Test/ConsoleApp.Test/obj/Debug
/Repository/KANG.Repository/obj/Debug
/Repository/KANG.Repository/bin/Debug
/MODEL/KANG.MODEL/obj/Debug
/DBFactory/KANG.DBFactory/bin/Debug
/IDAL/KANG.IDAL/obj/Debug
/DB/DB.SqlServer/obj/Debug
/DB/DB.Interface/obj/Debug
/DB/DB.MySql/obj/Debug
/DB/DB.Redis/bin/Debug
/DB/DB.Redis/obj/Debug
/DBFactory/KANG.DBFactory/obj/Debug
/DB/DB.SqlServer/bin/Debug
/IDAL/KANG.IDAL/bin/Debug
/MODEL/KANG.MODEL/bin/Debug
/UI/KANG.Web/bin
/packages/Autofac.3.5.2
/packages/MySql.Data.6.9.7
