/Test/ConsoleApp.Test/bin/Debug
/MODEL/KANG.MODEL/bin/Debug
/MODEL/KANG.MODEL/obj/Debug
/Test/ConsoleApp.Test/obj/Debug
/UI/KANG.Web/bin
/UI/KANG.Web/obj/Debug
/BLL/KANG.BLL/bin/Debug
/BLL/KANG.BLL/obj/Debug
/DAL/KANG.DAL/bin/Debug
/DAL/KANG.DAL/obj/Debug
/DAL/KANG.MySql.DAL/bin/Debug
/DB/DB.Interface/obj/Debug
/DAL/KANG.MySql.DAL/obj/Debug
/DB/DB.Base/bin/Debug
/DB/DB.Base/obj/Debug
/DB/DB.Interface/bin/Debug
/DB/DB.MySql/bin/Debug
/DB/DB.MySql/obj/Debug
/DB/DB.Redis/obj/Debug
/DB/DB.Redis/bin/Debug
/DB/DB.SqlServer/bin/Debug
/DB/DB.SqlServer/obj/Debug
/IDAL/KANG.IDAL/bin/Debug
/IDAL/KANG.IDAL/*.user
/IDAL/KANG.IDAL/obj/Debug
/UI/KANG.Web/*.user
/DB/DB.SqlServer/*.user
/Common/XK.Common/bin/Debug
/Common/XK.Common/bin/Release
/Common/XK.Common/obj/Debug
/Common/XK.Common/obj/Release
/.localhistory/Common/KANG.Redis
/Common/KANG.Common/bin/Debug
/Common/KANG.Common/obj/Debug
/Common/KANG.Distributed.Session/bin/Debug
/Common/KANG.Distributed.Session/obj/Debug
/Common/KANG.Redis/bin/Debug
/Common/KANG.Redis/obj/Debug
/Common/KANG.SearchEngine/bin/Debug
/Common/KANG.SearchEngine/obj/Debug
/Test/WCF/ConsoleApp_WCF/bin/Debug
/Test/WCF/ConsoleApp_WCF/obj/Debug
/Test/WCF/WindowsService.WCFTest/bin/Debug
/Test/WCF/WindowsService.WCFTest/obj/Debug
/Test/WinServiceTool/Debug
/UI/KANG.MVCWeb/bin
/packages/Antlr.3.4.1.9004/lib
/packages/EntityFramework.6.1.3
/packages/EntityFramework.zh-Hans.6.1.3/lib/net40/zh-Hans
/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45
/packages/Microsoft.AspNet.Identity.Core.2.2.1
/packages/EntityFramework.zh-Hans.6.1.3
/packages/Microsoft.AspNet.Identity.Core.zh-Hans.2.2.1
/packages/Microsoft.AspNet.Mvc.5.2.3/Content
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45
/packages/AspNetPager.7.5.1.0
/Common/ConsoleApp.Test/bin/Debug
/Common/ConsoleApp.Test/obj/Debug
/DAL/KANG.EFDAL/bin/Debug
/DAL/KANG.EFDAL/obj/Debug
/DatabaseFile/KangDB/bin/Debug
/DatabaseFile/KangDB/obj/Debug
/Test/WinServiceTool/d/Debug
/Common/KANG.DB.Bridge/obj/Debug
/Common/KANG.DB.Bridge/bin/Debug
