/Test/ConsoleApp.Test/bin/Debug
/MODEL/KANG.MODEL/bin/Debug
/MODEL/KANG.MODEL/obj/Debug
/Test/ConsoleApp.Test/obj/Debug
/UI/KANG.Web/bin
/UI/KANG.Web/obj/Debug
/BLL/KANG.BLL/bin/Debug
/BLL/KANG.BLL/obj/Debug
/DAL/KANG.DAL/bin/Debug
/DAL/KANG.DAL/obj/Debug
/DAL/KANG.MySql.DAL/bin/Debug
/DB/DB.Interface/obj/Debug
/DAL/KANG.MySql.DAL/obj/Debug
/DB/DB.Base/bin/Debug
/DB/DB.Base/obj/Debug
/DB/DB.Interface/bin/Debug
/DB/DB.MySql/bin/Debug
/DB/DB.MySql/obj/Debug
/DB/DB.Redis/obj/Debug
/DB/DB.Redis/bin/Debug
/DB/DB.SqlServer/bin/Debug
/DB/DB.SqlServer/obj/Debug
/IDAL/KANG.IDAL/bin/Debug
/IDAL/KANG.IDAL/*.user
/IDAL/KANG.IDAL/obj/Debug
/UI/KANG.Web/*.user
/DB/DB.SqlServer/*.user
/Common/XK.Common/bin/Debug
/Common/XK.Common/bin/Release
/Common/XK.Common/obj/Debug
/Common/XK.Common/obj/Release
/.localhistory/Common/KANG.Redis
/Common/KANG.Common/bin/Debug
/Common/KANG.Common/obj/Debug
/Common/KANG.Distributed.Session/bin/Debug
/Common/KANG.Distributed.Session/obj/Debug
/Common/KANG.Redis/bin/Debug
/Common/KANG.Redis/obj/Debug
/Common/KANG.SearchEngine/bin/Debug
/Common/KANG.SearchEngine/obj/Debug
