<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_UserService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:9989/user" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_UserService" contract="WCF.UserService.UserService"
                name="BasicHttpBinding_UserService" />
        </client>
    </system.serviceModel>
</configuration>