<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="RedisServer" value="127.0.0.1" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <!--使用 redis session，并自定义session id-->
      <sessionState mode="Custom" customProvider="RedisSessionProvider" sessionIDManagerType="KANG.Distributed.Session.RedisSessionIDManager">
        <providers>
          <add name="RedisSessionProvider" type="KANG.Distributed.Session.RedisSessionProvider,KANG.Distributed.Session"/>
        </providers>
      </sessionState>

    </system.web>

</configuration>
